{% extends "management/base.html" %}

{% load static %}

{% block content %}

<script type="text/javascript">
   var current_sample_rate = {{current_sample_rate}};
   var current_sensitivity = {{current_sensitivity}};
   var current_communication_technology = "{{current_communication_technology}}";
   var current_communication_id = {{current_communication_id}};
   var current_protocol = "{{current_protocol}}";
   var current_protocol_id = {{current_protocol_id}};
</script>

<div class="container">
 <div class="row">
   <div class="col-md-8 order-md-1">
    <br>
    <br>
    {% if user.auth_level >= 2 %}
      <h3 class="mb-3">Add sensor</h3>
    {% else %}
      <h4 class="mb-3">You are not authorized to add sensors</h4>
    {% endif %}
     <form class="needs-validation" method="POST">
       {% csrf_token %}
       <p class="mb-3" style="color:red;">* = Required</p>
       <h4 class="mb-3">General settings</h4>
       <div class="mb-3">
         {{ add_sensor_form.sensor_name.label_tag }}*<br>
         {{ add_sensor_form.sensor_name }}
         {% if add_sensor_form.sensor_name.help_text %}
           <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.sensor_name.help_text }}</p>
         {% endif %}
         {% for error in add_sensor_form.sensor_name.errors %}
           <p style="color: red">{{ error }}</p>
         {% endfor %}
       </div>
       <div class="mb-3">
         {{ add_sensor_form.description.label_tag }}<br>
         {{ add_sensor_form.description }}
         {% if add_sensor_form.description.help_text %}
           <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.description.help_text }}</p>
         {% endif %}
         {% for error in add_sensor_form.description.errors %}
           <p style="color: red">{{ error }}</p>
         {% endfor %}
       </div>
       <div class="mb-3">
         {{ add_sensor_form.location.label_tag }}<br>
         {{ add_sensor_form.location }}
         {% if add_sensor_form.location.help_text %}
           <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.location.help_text }}</p>
         {% endif %}
         {% for error in add_sensor_form.location.errors %}
           <p style="color: red">{{ error }}</p>
         {% endfor %}
       </div>
       <div class="mb-3">
         {{ add_sensor_form.update_url.label_tag }}*<br>
         {{ add_sensor_form.update_url }}
         {% if add_sensor_form.update_url.help_text %}
           <p class="help_text" style="color: grey;display: none">{{ modify_sensor_form.update_url.help_text }}</p>
         {% endif %}
         {% for error in add_sensor_form.update_url.errors %}
           <p style="color: red">{{ error }}</p>
         {% endfor %}
       </div>
       <div class="mb-3">
         {{ add_sensor_form.update_port.label_tag }}*<br>
         {{ add_sensor_form.update_port }}
         {% if add_sensor_form.update_port.help_text %}
           <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.update_port.help_text }}</p>
         {% endif %}
         {% for error in add_sensor_form.update_port.errors %}
           <p style="color: red">{{ error }}</p>
         {% endfor %}
       </div>
       <h4 class="mb-3">Measurement settings</h4>
       <div class="mb-3">
         {{ add_sensor_form.model.label_tag }}*<br>
         {{ add_sensor_form.model }}
         {% if add_sensor_form.model.help_text %}
           <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.model.help_text }}</p>
         {% endif %}
         {% for error in add_sensor_form.model.errors %}
           <p style="color: red">{{ error }}</p>
         {% endfor %}
       </div>
       <div class="mb-3">
         <label for="id_add-sample_rate">Sample rate (Hz):</label><br>
          <select name="add-sample_rate" required id="id_add-sample_rate">
            {% for option in available_sample_rates %}
              <option value={{option.id}}> {{option.sample_rate}} </option>
            {% endfor %}
          </select>
        </div>
       <div class="mb-3">
         <label for="id_add-sensitivity">Sensitivity:</label><br>
          <select name="add-sensitivity" required id="id_add-sensitivity">
           {% for option in available_sensitivities %}
             <option value={{option.id}}> {{option.sensitivity}} </option>
           {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          {{ add_sensor_form.burst_length.label_tag }}<br>
          {{ add_sensor_form.burst_length }}
          {% if add_sensor_form.burst_length.help_text %}
            <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.burst_length.help_text }}</p>
          {% endif %}
          {% for error in add_sensor_form.burst_length.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="mb-3">
          {{ add_sensor_form.burst_rate.label_tag }}<br>
          {{ add_sensor_form.burst_rate }}
          {% if add_sensor_form.burst_rate.help_text %}
            <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.burst_rate.help_text }}</p>
          {% endif %}
          {% for error in add_sensor_form.burst_rate.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>

        <h4 class="mb-3">Data transfer settings</h4>
        <div class="mb-3">
          {{ add_sensor_form.data_send_rate.label_tag }}<br>
          {{ add_sensor_form.data_send_rate }}
          {% if add_sensor_form.data_send_rate.help_text %}
            <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.data_send_rate.help_text }}</p>
          {% endif %}
          {% for error in add_sensor_form.data_send_rate.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
        <h4 class="mb-3">Communication technology settings</h4>
        <div class="mb-3">
          <label for="id_communication_technology">Communication technology:</label><br>
           <select name="communication_technology" required id="id_communication_technology">
             {% for option in available_communication_technologies %}
               <option value={{option}}> {{option}} </option>
             {% endfor %}
           </select>
         </div>
         <div class="mb-3">
           <label for="id_communication_instance">Instance:</label><br>
            <select name="communication_instance" required id="id_communication_instance">
              {% for option in communication_instances %}
                <option value={{option.id}}> {{option.name}} </option>
              {% endfor %}
            </select>
        </div>
        <div id="communication_options">
          {% for field in modify_communication_form %}
          <div class="mb-3">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <p style="color: grey;display:none;">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <h4 class="mb-3">Protocol settings</h4>
        <div class="mb-3">
          <label for="id_protocol">Protocol:</label><br>
           <select name="protocol" required id="id_protocol">
             {% for option in available_protocols %}
               <option value={{option}}> {{option}} </option>
             {% endfor %}
           </select>
         </div>
         <div class="mb-3">
           <label for="id_protocol_instance">Instance:</label><br>
            <select name="protocol_instance" required id="id_protocol_instance">
              {% for option in protocol_instances %}
                <option value={{option.id}}> {{option.name}} </option>
              {% endfor %}
            </select>
          </div>
        <div id="protocol_options">
          {% for field in modify_protocol_form %}
          <div class="mb-3">
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <p style="color: grey; display:none;">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <h4 class="mb-3">Data format settings</h4>
        <div class="mb-3">
          {{ add_sensor_form.data_format.label_tag }}*<br>
          {{ add_sensor_form.data_format }}
          {% if add_sensor_form.data_format.help_text %}
            <p class="help_text" style="color: grey;display: none">{{ add_sensor_form.data_format.help_text }}</p>
          {% endif %}
          {% for error in add_sensor_form.data_format.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
        <h5 class="mb-3">Variables</h5>
        <div id="variable_options">
          <table class="table">
            <thead>
                <tr>
                    <th style="width: 50%">Name</th>
                    <th style="width: 50%">Unit</th>
                </tr>
            </thead>
            <tbody id="variable_table">
              {{ modify_variable_forms.management_form }}
              {% for modify_variable_form in modify_variable_forms %}
                <tr>
                  <td>
                    {{ modify_variable_form.name}}
                    {% if modify_variable_form.name.errors %}
                        {% for error in modify_variable_form.name.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                  </td>
                  <td>
                  {{ modify_variable_form.unit }}
                  {% if modify_variable_form.unit.errors %}
                      {% for error in modify_variable_form.unit.errors %}
                          {{ error|escape }}
                      {% endfor %}
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
            <tbody>
          </table>
        </div>
       {% if user.auth_level >= 2 %}
         <hr class="mb-4">
         <button class="btn btn-primary btn-lg btn-block" type="submit">Add Sensor to database</button>
       {% endif %}
     </form>
  <br>
   </div>
 </div>
</div>

<script src="{% static "management/add_sensor.js" %}"></script>

{% endblock %}
