{% extends "management/base.html" %}
{% load static %}

{% block content %}
<h2 style="margin-left: 10px; margin-top: 10px;" class="mb-3">Browse data</h2>
<form class="form-inline">
    <p style="margin-left: 10px;"> Order by:
    <select name="file_order" id="file_order_option">
        <option value="filename">Filename</option>
        <option value="timestamp">Date</option>
        <option value="file_type">File type</option>
    </select>
    <input type="checkbox" name="order_inverse" id="file_order_inverse">Invert </p>
</form>
<form class="form-inline" action="#">
  <p style="margin-left: 10px;">Search by keyword: <input type="text" id="file_keyword"> </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th style="width: 25%">Filename</th>
            <th style="width: 10%">File type</th>
            <th style="width: 15%">Date</th>
            <th style="width: 45%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td class="filename" style="vertical-align: middle;"><a href="display/{{sensor_id}}/{{file.filename}}">{{file.filename}}</a></td>
            <td class="file_type" style="vertical-align: middle;">{{file.file_type}}</td>
            <td class="timestamp" style="vertical-align: middle;">{{file.date|date:"Y/m/d/H/i/s"}}</td>
            <td class="actions" style="margin: 0px;">
              <button type="button" onclick="location.href='table/{{sensor_id}}/{{file.filename}}';" class="btn btn-primary btn-md" style="padding-top: 2px; padding-bottom: 2px;">Table</button>
              <button type="button" onclick="location.href='visualize/{{sensor_id}}/{{file.filename}}';" class="btn btn-info btn-md" style="padding-top: 2px; padding-bottom: 2px;">Visualize</button>
              <button type="button" onclick="location.href='download/{{sensor_id}}/{{file.filename}}/{{file.file_type}}';" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Download</button>
            {% if user.auth_level > 1 %}
              <button type="button" value="delete/{{sensor_id}}/{{file.filename}}" class="btn btn-danger btn-md delete_button" style="padding-top: 2px; padding-bottom: 2px;">Delete</button>
            {% endif %}
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="4">Sorry, we could not find any datafiles!</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'management/browse_sensor_data.js' %}"></script>
{% endblock %}
