{% extends "management/base.html" %}
{% load static %}

{% block content %}
<h2 style="margin-left: 10px; margin-top: 10px;" class="mb-3">Browse communication technologies</h2>
<form class="form-inline">
  <p style="margin-left: 10px;"> Select type:
    <select name="type" id="search_select">
      <option value="All" selected>All</option>
      <option value="Wlan">Wlan</option>
      <option value="NB-IoT">NB-IoT</option>
    </select>
    </p>
</form>
<form class="form-inline">
    <p style="margin-left: 10px;"> Order by:
    <select name="communication_order" id="communication_order_option">
        <option value="name">Name</option>
        <option value="type">Type</option>
    </select>
    <input type="checkbox" name="order_inverse" id="communication_order_inverse">Invert </p>
</form>
<form class="form-inline" action="#">
  <p style="margin-left: 10px;">Search by keyword: <input type="text" id="communication_keyword"> </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th style="width: 33.33%">Name</th>
            <th style="width: 33.33%">Type</th>
            <th style="width: 33.33%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for wlan in wlans %}
        <tr>
            <td class="name" style="vertical-align: middle;"><a href="/communication_technologies/Wlan/{{wlan.id}}">{{wlan.name}}</td>
            <td class="type" style="vertical-align: middle;">Wlan</td>
            <td class="actions" style="margin: 0px;">
            {% if user.auth_level > 1 %}
              <button type="button" onclick="location.href='Wlan/{{wlan.id}}';" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Info</button>
              <button type="button" onclick="location.href='modify/Wlan/{{wlan.id}}';" class="btn btn-primary btn-md" style="padding-top: 2px; padding-bottom: 2px;">Edit</button>
              <button type="button" value="delete/Wlan/{{wlan.id}}" class="btn btn-danger btn-md delete_button" style="padding-top: 2px; padding-bottom: 2px;">Delete</button>
            {% else %}
              <button type="button" onclick="location.href='Wlan/{{wlan.id}}';" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Info</button>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% for nb_iot in nb_iots %}
        <tr>
            <td class="name" style="vertical-align: middle;"><a href="/communication_technologies/Nb_iot/{{nb_iot.id}}">{{nb_iot.name}}</td>
            <td class="type" style="vertical-align: middle;">NB-IoT</td>
            <td class="actions" style="margin: 0px;">
            {% if user.auth_level > 1 %}
              <button type="button" onclick="location.href='Nb_iot/{{nb_iot.id}}';" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Info</button>
              <button type="button" onclick="location.href='modify/Nb_iot/{{nb_iot.id}}';" class="btn btn-primary btn-md" style="padding-top: 2px; padding-bottom: 2px;">Edit</button>
              <button type="button" value="delete/Nb_iot/{{nb_iot.id}}" class="btn btn-danger btn-md delete_button" style="padding-top: 2px; padding-bottom: 2px;">Delete</button>
            {% else %}
              <button type="button" onclick="location.href='Nb_iot/{{nb_iot.id}}';" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Info</button>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static "management/search_comm_tech.js" %}"></script>
{% endblock %}
