{% extends "management/base.html" %}
{% load static %}

{% block content %}
<h2 style="margin-left: 10px; margin-top: 10px;" class="mb-3">Browse data</h2>
<form class="form-inline">
    <p style="margin-left: 10px;"> Order by:
    <select name="sensor_order" id="sensor_order_option">
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="model">Model</option>
        <option value="latest_update">Latest update</option>
        <option value="filename">Filename</option>
        <option value="file_type">File type</option>
    </select>
    <input type="checkbox" name="order_inverse" id="sensor_order_inverse">Invert </p>
</form>
<form class="form-inline" action="#">
  <p style="margin-left: 10px;">Search by keyword: <input type="text" id="sensor_keyword"> </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th style="width: 2%">Id</th>
            <th style="width: 10%">Name</th>
            <th style="width: 10%">Model</th>
            <th style="width: 20%">Latest update</th>
            <th style="width: 15%">Filename</th>
            <th style="width: 15%;">File type</th>
            <th style="width: 28%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sensor in sensors %}
        <tr>
            <td class="id" style="vertical-align: middle;">{{sensor.id}}</td>
            <td class="name" style="vertical-align: middle;"><a href="/sensors/{{sensor.id}}">{{sensor.name}}</td>
            <td class="model" style="vertical-align: middle;"><a href="/sensors/type/{{sensor.model}}">{{sensor.model}}</td>
            <td class="latest_update" style="vertical-align: middle;">{{ sensor.latest_update|date:"Y/m/d/H/i/s" }}</td>
            <td class="filename" style="vertical-align: middle;">{{sensor.filename}}</td>
            <td class="file_type" style="vertical-align: middle;">{{sensor.file_type}}</td>
            <td class="actions" style="margin: 0px;">
              <button type="button" onclick="location.href='data/display/{{sensor.id}}/{{sensor.filename}}';" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Latest</button>
              <button type="button" onclick="location.href='data/{{sensor.id}}';" class="btn btn-primary btn-md" style="padding-top: 2px; padding-bottom: 2px;">Browse</button>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="4">Sorry, we could not find any sensors!</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'management/data.js' %}"></script>
{% endblock %}
