{% extends "management/base.html" %}

{% load static %}

{% block content %}

<script type="text/javascript">
   var data = {{ graph_data|safe }};
   var filename = "{{ filename }}";
</script>

<div class="container-fluid">
  <div class="w-75 p-3" style="margin: 0 auto;">
    <div class="col-md-8 order-md-1">
         <h4 class="mb-3">Data file</h4>
         <div class="mb-3">
           <p>Filename: {{filename}}</p>
         </div>
         <div class="mb-3">
           <p>File type: {{file_type}}</p>
         </div>
         <div class="mb-3">
           <p>Date: {{date}}</p>
         </div>
         <div class="mb-3">
           <button type="button" id="table_btn" class="btn btn-primary btn-md" style="padding-top: 2px; padding-bottom: 2px;">Table</button>
           <button type="button" id="visualize_btn" class="btn btn-info btn-md" style="padding-top: 2px; padding-bottom: 2px;">Visualize</button>
           <button type="button" onclick="location.href='/data/download/{{sensor_id}}/{{filename}}/{{file_type}}';" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Download</button>
           {% if user.auth_level > 1 %}
           <button type="button" value="/data/delete/{{sensor_id}}/{{filename}}" class="btn btn-danger btn-md delete_button" style="padding-top: 2px; padding-bottom: 2px;">Delete</button>
           {% endif %}
         </div>
    </div>
    <div id="content"></div>
    {% if previous != "None" %}
    <button type="button" onclick="location.href='/data/display/{{sensor_id}}/{{previous}}';" class="btn btn-secondary">Previous</button>
    {% endif %}
    {% if next != "None"%}
    <button type="button" onclick="location.href='/data/display/{{sensor_id}}/{{next}}';" class="btn btn-secondary float-right">Next</button>
    {% endif %}
  </div>
</div>


<!-- Plotly.js -->
<script src="{% static 'management/js/plotly-latest.min.js' %}"></script>
<script src="{% static 'management/js/handsontable.full.min.js'%}"></script>
<link href="{% static 'management/css/handsontable.full.min.css'%}" rel="stylesheet" media="screen">
<script src="{% static 'management/display_data.js' %}"></script>

{% endblock %}
