{% extends "management/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="w-75 p-3" style="margin: 0 auto;">
    <h3 id="adding-new-sensor" class="mb-3">Adding new sensor</h3>
    <h4 id="connect-microcontroller-to-your-pc" class="mb-3">Connect microcontroller to your PC</h4>
      <li>Use micro-usb cable</li>
      <figure>
        <img src="{% static 'management/instructions/microusb.jpg' %}" style="width:372px:;height:496px;" alt="Microusb">
      </figure>
    <h4 id="update-microcontroller-software" class="mb-3">Update microcontroller software</h4>
    <ul>
      <li>Start Pycom Firmware Update tool</li>
      <figure>
        <img src="{% static 'management/instructions/pycom_software.png' %}" style="width:auto;height:auto;" alt="Pycom Software Update tool">
      </figure>
      <li>Choose continue</li>
      <li>Use the following settings (COM port is automatically correct, please don't change): </li>
        <img src="{% static 'management/instructions/pycom_settings_1.PNG' %}" style="width:auto;height:auto;" alt="Pycom Firmware Update settings 1">
      <li>Choose software version <strong>1.18.1</strong> and choose <i>Erase during update</i></li>
      <figure>
        <img src="{% static 'management/instructions/pycom_settings_2.PNG' %}" style="width:auto;height:auto;" alt="Pycom Firmware Update settings 2">
      </figure>
      <li>Wait until firmaware update process is complete (this takes approximately 1 minute)</li>
    </ul>
    <h4 id="create-sensor-instance-to-user-interface" class="mb-3">Create a new sensor instance from user interface</h4>
    <ul>
      <li>Select <i>Add sensor</i> or <a href="{% url 'add_sensor' %}">click here</a> to add sensor</li>
      <figure>
        <img src="{% static 'management/instructions/add_sensor.png' %}" alt="Add sensor">
      </figure>
      <li>Remeber to add sensor to database after you have configured the settings</li>
      <figure>
        <img src="{% static 'management/instructions/add_sensor_to_database.png' %}" alt="Add sensor to database">
      </figure>
    </ul>
    <h4 id="update-the-initial-main.py-file" class="mb-3">Download initial files</h4>
    <ul>
      <li>Download boot.py file</li>
      <button type="button" onclick="location.href='download/boot';" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">boot.py</button>
      <li>Download main.py (sensor specific) by going to <a href="/sensors/browse">Browse sensors</a>, clicking <button type="button" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Info</button> button next to previously created sensor and selecting <button type="button" class="btn btn-success btn-md" style="padding-top: 2px; padding-bottom: 2px;">Download software</button> below Software version.</li>
    </ul>
    <h4 id="move-the-initial-files-to-microcontroller" class="mb-3">Move the initial files to microcontroller</h4>
    <ul>
      <h5>Connect your computer to microcontroller via Wifi</h5>
      <li>The name of PyCom microcontroller is in form boardtype-wlan-XXXX. For example, wipy-wifi-818c</li>
      <li>Wifi password: www.pycom.io</li>
      <li><strong>Please note that you Internet connection is lost! </strong></li>
      <figure>
        <img src="{% static 'management/instructions/wifi_gpy.png' %}" alt="Connect to microcontroller via Wifi">
      </figure>
      <li>If the device's WIFI-network can't be found and erase flash file system with firmware update tool.</li>
      <h5>Move files to microcontroller using FTP</h5>
      <li>Start WinSCP software. </li>
      <figure>
        <img src="{% static 'management/instructions/win_scp.png' %}" alt="Start WinSCP software">
      </figure>
      <li>use the following settings</li>
      <ul>
        <li>Protocol: FTP</li>
        <li>Host name: 192.168.4.1</li>
        <li>Port: 21</li>
        <li>User name: micro</li>
        <li>Password: python</li>
      </ul>
      <figure>
        <img src="{% static 'management/instructions/ftp_settings.PNG' %}" alt="Settings for FTP connection">
      </figure>
      <li>Replace boot.py and main.py from flash folder. <strong>The filenames should be exactly main.py and boot.py</strong>. Please, rename files if they are not. </li>
      <li><b>Be careful: you can't remove or rename files located in the microcontroller. If you upload files with wrong file names, you need to run Firmware Update tool again and erase flash file system. </b></li>
        <figure>
          <img src="{% static 'management/instructions/ftp_drag_n_drop.PNG' %}" alt="Settings for FTP connection">
        </figure>
      <li>Detach usb-cable and connect powerbank to the microcontroller.</li>
      <li>After the status of the device changes from <span style="color:orange;">Waiting-for-update</span> to <span style="color:green;">Measuring</span> in the <a href="{% url 'browse_sensors' %}">Browse sensors</a> page the sensor has started measuring and operates correctly. (Refresh page to update status). </li>
      <li>If the status doesn't change in 30 seconds, there's an error with the system. You can try updating the firmware again.</li>
    </ul>
  </div>
</div>

<link rel="stylesheet" href="{% static 'management/instructions/formatting.css' %}">
{% endblock %}
