{% extends "management/base.html" %}

{% load static %}

{% block content %}

<script type="text/javascript">
   var data = {{ graph_data|safe }};
   var filename = "{{ filename }}";
</script>

<div class="container-fluid">
  <div class="w-75 p-3" style="margin: 0 auto;">
    <div id="example"></div>
  </div>
</div>


<script src="{% static 'management/js/handsontable.full.min.js'%}"></script>
<link href="{% static 'management/css/handsontable.full.min.css'%}" rel="stylesheet" media="screen">
<script src="{% static 'management/table_data.js' %}"></script>

{% endblock %}
