{% extends "management/base.html" %}

{% load static %}

{% block content %}

<script type="text/javascript">
   var data = {{ graph_data|safe }};
   var filename = "{{ filename }}";
</script>

<div class="container-fluid">
  <div class="w-75 p-3" style="margin: 0 auto;">
    <div id="graph"></div>
    {% if previous != "None" %}
    <button type="button" onclick="location.href='/data/visualize/{{sensor_id}}/{{previous}}';" class="btn btn-secondary">Previous</button>
    {% endif %}
    {% if next != "None"%}
    <button type="button" onclick="location.href='/data/visualize/{{sensor_id}}/{{next}}';" class="btn btn-secondary float-right">Next</button>
    {% endif %}
  </div>
</div>


<!-- Plotly.js -->
<script src="{% static 'management/js/plotly-latest.min.js' %}"></script>
<script src="{% static 'management/visualize.js' %}"></script>

{% endblock %}
